<?xml version="1.0" encoding="UTF-8"?>
<!-- 是否扫描配置文件变化    扫描间隔，无单位时默认毫秒    是否输出logback的log -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--定义变量的标签    需用绝对路径    Windows下/根路径从当前盘符的根开始 -->
    <property name="LOG_HOME" value="/home" />
    <!-- 定义输出的标签    控制台输出 -->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${LOG_HOME}/springbootApp_%d{yyyyMMddHHmmss}.log
            </FileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <!--日志文件最大的大小 -->
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- 日志输出级别 root代表全局，可以附加指定包/类，单独说明level：更高或者更低 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <!-- 配合yml中指定的环境:和现有全局设置冲突时无效 -->
    <springProfile name="prod,test,dev">
        <logger name="类/包" level="INFO" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>
    </springProfile>

</configuration>